/* === CSS modal content background === */
.d-mc-primary{
    background-color: rgba(0, 144, 231, 0.14);

}
.d-mc-warning{
    background-color: #ffc1073b;

}

.d-mc-danger{
    background-color: #ff070723;

}

.d-mc-black{
    background-color: #0000003b;

}

.d-mc-success{
    background-color: #00d25b33;

}

.d-mc-light{
    background-color: #00000096 !important;

}


/* === css modal dialog border === */
.d-md-primary{
    box-shadow: 0 0 15px #17a2b8;
}
.d-md-light{
    box-shadow: 0 0 15px #fdfdfd;
}

.d-md-danger{
    box-shadow: 0 0 15px #ff0000;
}

.d-md-success{
    box-shadow: 0 0 15px #00d25b79;
}

.d-md-warning{
    box-shadow: 0 0 15px #ffc107;
}

/* === css modal header and footer border === */
.d-bdr-danger{
    border-radius: 5px;
    border-color: #ff07073b;
}

.d-bdr-black{
    border-color: #0000003b;
}

.d-bdr-warning{
    border-color: #ffd000;
}


/* === css input background === */
.d-inp-primary{
    background-color: #094e79;
}

.d-inp-light{
    background-color: #15316d85;
}

.d-inp-warning{
    background-color: #ffc1076c;
}

.d-inp-light{
    background-color: #ffffffbb;
}

.d-inp-danger{
    background-color: #ff0a2b23;
}

.d-inp-light{
    border: none !important;
    border-bottom: 1px solid rgba(255, 230, 0, 0.397) !important;
    outline: none !important;
    background-color: transparent !important;
    color: rgba(255, 153, 0, 0.616) !important;
}


.d-inp-light:focus, .d-inp-light:active{
    color: rgb(255, 153, 0) !important;
    border-bottom: 1px solid rgb(255, 153, 0) !important;
    box-shadow: 0 0 15px rgb(255, 153, 0);
}
.d-inp-light:lostfocus,.d-inp-light:inactive{
    color: rgba(255, 153, 0, 0.685) !important;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.5) !important;
}

.d-frm{
    box-shadow: 0 0 8px rgb(255, 153, 0);
}
.d-frmt{
    box-shadow: 0 0 8px rgb(21, 255, 0);
}



/* === css content wraper === */
.d-cwr{
    background: #000000a9;
}

.d-pri{
    background: #111215;
}

/* === css nav item text color === */
.d-navi{
    color: #a09a97;
}

/* === css nav item text color input === */
.d-t-black{
    color: #000000;
}

.pt-3-half { padding-top: 1.4rem; }

.d-card{
    padding: 10px 10px !important;
    margin: 0px !important;
}

.d-mar{
    margin: 0px 0px 0px 0px !important;
}

select,
option {
  background-color: #000000;
}

/* boton eye*/
.d-btn-light{
    border: none !important;
    outline: none !important;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    color: rgba(255, 153, 0, 0.616) !important;
    cursor: pointer !important;
    overflow: hidden !important;
    outline: none !important;
    border-radius: 200px;
}

.d-btn-light:focus, .d-btn-light:active{
    color: rgb(255, 153, 0) !important;
    box-shadow: 0 0 30px rgb(255, 153, 0);
}
.d-btn-light:lostfocus,.d-btn-light:inactive{
    color: rgba(255, 153, 0, 0.685) !important;
}

hr{
    height: 1px !important;
        background-color: #ccc !important;
        border: none;
        box-shadow: 0 0 10px rgb(255, 255, 255);
        margin-top: 60px;
        margin-bottom: 30px;
}

/*form cliente*/

/* boton eye*/
.d-btn-cli{
    border: none !important;
    outline: none !important;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    color: rgba(255, 255, 255, 0.616) !important;
    cursor: pointer !important;
    overflow: hidden !important;
    outline: none !important;
    border-radius: 200px;
}

.d-btn-cli:focus, .d-btn-cli:active{
    color: rgb(255, 255, 255) !important;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.616);
}
.d-btn-cli:lostfocus,.d-btn-cli:inactive{
    color: rgba(255, 255, 255, 0.685) !important;
}

hr{
    height: 1px !important;
        background-color: #ccc !important;
        border: none;
        box-shadow: 0 0 10px rgb(255, 255, 255);
        margin-top: 60px;
        margin-bottom: 30px;
}

.d-inp-cli{
    border: none !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.397) !important;
    outline: none !important;
    background-color: transparent !important;
    color: #FC424A !important;
}


.d-inp-cli:focus, .d-inp-cli:active{
    color: rgba(255, 0, 0, 0.863) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.616) !important;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.616);
}
.d-inp-cli:lostfocus,.d-inp-cli:inactive{
    color: rgba(255, 255, 255, 0.685) !important;
}

.d-frmc{
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.616);
}


[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    background-color: rgba(0, 204, 231, 0.521);
    color: #fff;
    font-size: 11px;
    position: absolute;
    padding: 3px 3px;
    top: -1.6em;
    right: 100%;
    white-space: nowrap;
    border: none;
    z-index: 99999;
    visibility: hidden;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0, 204, 231, 0.521);
}
[data-title] {
    position: relative;
}

.d-btn{
    font-size:11px !important; 
}

.d-lbl {
    font-size:13px !important;
}

.d-txtar{
    border: none !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.397) !important;
    border-top: 1px solid rgba(253, 253, 253, 0.397) !important;
    outline: none !important;
    background-color: transparent !important;
    color: rgb(255, 255, 255) !important;
    display: inline-block;
    height: 100px !important;
}

/*form trabajo edit*/
.d-inp-green{
    border: none !important;
    border-bottom: 1px solid rgba(0, 255, 64, 0.397) !important;
    outline: none !important;
    background-color: transparent !important;
    color: rgba(72, 255, 0, 0.616) !important;
}


.d-inp-green:focus, .d-inp-green:active{
    color: rgb(51, 255, 0) !important;
    border-bottom: 1px solid rgb(51, 255, 0) !important;
    box-shadow: 0 0 15px rgb(51, 255, 0);
}
.d-inp-green:lostfocus,.d-inp-green:inactive{
    color: rgba(51, 255, 0, 0.685) !important;
}

.d-txtar-green{
    border: none !important;
    border-bottom: 1px solid rgba(0, 243, 0, 0.397) !important;
    border-top: 1px solid rgba(0, 243, 0, 0.397) !important;
    outline: none !important;
    background-color: transparent !important;
    color: rgb(255, 255, 255) !important;
    display: inline-block;
    height: 100px !important;
}

.d-txtar-green-d{
    border: none !important;
    border-bottom: 1px solid rgba(0, 243, 0, 0.397) !important;
    border-top: 1px solid rgba(0, 243, 0, 0.397) !important;
    outline: none !important;
    background-color: transparent !important;
    color: rgb(30, 255, 0) !important;
    display: inline-block;
    height: 75px !important;
}